.MovieMenu{
  /* min-height: 80vh; */
  /* text-align: right; */
}
.MovieMenuBox{
  /* display: inline-block; */
  padding: 15px;
  border: 1px solid red;
  text-align: left;
}
.MovieMenuBox:after{
  content: '';
  display: block;
  clear: both;
}
.MovieMenuList{
  cursor: pointer;
  float: left;
  margin-right: 10px;
}
.MovieMenuList:hover{
 text-decoration: underline;
}