.testColor {
  background: #e2e2e2
}

.MovieFooter {
  position: relative;
  min-height: 200px;
  background: #202026;
  padding-bottom: 60px;
  margin-top: 80px;
  padding: 0 65px;
}

.rightBotton {
  position: relative;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: #666;
  font-size: 13px;
  padding: 60px 0 40px 0;
}

.footer__nav_control {
  padding: 30px 0;
  border-top: 1px solid #424242;
  border-bottom: 1px solid #424242;
}

.footer__nav_control:after {
  content: '';
  display: block;
  clear: both;
}

.footer__nav_box {
  width: 200px;
  float: left;
  /* border: 1px solid red; */
}

.footer__nav_title {
  margin-bottom: 1.5rem;
  color: #707c86;
  font-weight: bold;
  font-size: 12px;
}

.footer__nav_link {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
}

.footer__nav_main_title {
  padding: 20px 0;
  padding-top: 30px;
}

.footer__nav_main_title_tx {
  color: #fff;
  font-size: 27px;
}